{% extends 'directions/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/directions.css' %}" rel='stylesheet'>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/south-street/jquery-ui.css" rel="stylesheet" />
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWT-4e0uWKB4LFa-wWXJCWKNQ2lPk_aEs&sensor=false&libraries=places"></script>
<script src="{% static 'js/ui.geo_autocomplete.js' %}"></script>
<script src="{% static 'js/directions.js' %}"></script>
<script>

</script>
{% endblock %}

{% block body %}
<h1>Singapore Bus Visualizer</h1>
<hr />
{% crispy form %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if from and to %}
  {% if routes %}
  <h3>Bus Services travelling between:</h3>
  <ul>
    <li>{{ from }}</li>
    <li>{{ to }}</li>
  </ul>
  <ol>
    {% for route in routes %}
    {% with bus=route.bus %}
    <li><input type='checkbox' value='{{ bus.no }}-{{ route.direction }}' class='bus_chkbox' id='bus_{{ bus.no }}'><label for='bus_{{ bus.no }}'>{{ bus.no }}</label> (distance: {{ route.travel_distance }})</li>
    {% endwith %}
    {% endfor %}
  </ol>
  <hr />
  {% else %}
    <h3>Sorry No bus Found</h3>
  {% endif %}
{% endif %}

<div id='map'></div>

by Eugene (<a href="mailto:yeo.eugene.oey@gmail.com">yeo.eugene.oey@gmail.com</a>)

{% endblock %}
